<div align="left">
	<h1>Thanks for signing up! To complete your registration for email address ${user.email}, fill out the form below.</h1>
	<form method="post" action="/activate">
		<input type="hidden" name="email" value="${ user.email }" />
		<input type="hidden" name="emailToken" value="${ user.emailToken }" />

		<p>password: <input type="password" name="password" />
		<span class="error">#{error 'password' /}</span>
		</p>

		<p>password confirmation: <input type="password" name="passwordConfirmation" />
		<span class="error">#{error 'passwordConfirmation' /}</span>
		</p>

		<p>first name: <input type="text" name="firstName" />
		<span class="error">#{error 'firstName' /}</span>
		</p>

		<p>last name: <input type="text" name="lastName" />
		<span class="error">#{error 'lastName' /}</span>
		</p>
		<input type="submit" />
	</form>
</div>
